<div class="w-full max-w-xs mx-auto">
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 text-white">
    <div class="mb-4">
      <label class="block text-sm font-bold mb-2" for="username"> Email </label>
      <input
        formControlName="email"
        [ngClass]="{
          'border-red-500 mb-3': email.invalid && (email.dirty || email.touched)
        }"
        class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        type="text"
        placeholder="Email"
      />
      <p *ngIf="email.errors?.required" class="text-red-500 text-xs italic">Required</p>
    </div>
    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="password"> Password </label>
      <input
        formControlName="pwd"
        [ngClass]="{
          'border-red-500 mb-3': pwd.invalid && (pwd.dirty || pwd.touched)
        }"
        class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        placeholder="Password"
      />
      <p *ngIf="pwd.errors?.required" class="text-red-500 text-xs italic">Required</p>
    </div>
    <div class="flex items-center justify-between">
      <egs-button
        [disabled]="!loginForm.valid"
        color="primary"
        [text]="btnLoginLabel"
        type="submit"
      ></egs-button>
    </div>
  </form>
</div>
