<div class="w-full max-w-xl mx-auto">
  <form [formGroup]="dessertForm" (ngSubmit)="handleSubmit()" class="bg-gray-800 shadow-md rounded p-4 text-white flex flex-wrap">
    <div class="w-full mb-4">
      <label for="name" class="block text-sm font-bold mb-2">Name</label>
      <input
        formControlName="name"
        class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text"
        placeholder="Dessert's Name"
      />
    </div>
    <div class="w-full mb-4">
      <label for="quantity" class="block text-sm font-bold mb-2">Quantity</label>
      <input
        formControlName="quantity"
        class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="quantity"
        type="number"
        placeholder="Dessert's quantity"
      />
    </div>
    <div class="w-full mb-4">
      <label for="price" class="block text-sm font-bold mb-2">Price</label>
      <input
        formControlName="price"
        class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="price"
        type="number"
        placeholder="Dessert's Price"
      />
    </div>
    <div class="w-full mb-4 flex flex-wrap">
      <div class="w-full mb-2 flex justify-between">
        <h3 class="font-bold mb-2 w-1/3">Ingredients</h3>
        <div class="w-1/3 flex justify-end">
          <egs-button (handleOnClick)="addIngredient()" [text]="addIngredientLabel" color="secondary" type="button"></egs-button>
        </div>
      </div>
      <div class="w-full flex flex-wrap" formArrayName="ingredients" *ngFor="let ingredient of ingredientsArray.controls; let i = index">
        <div class="w-full flex flex-wrap" [formGroupName]="i">
          <div class="w-1/3 pr-1">
            <label>
              <small class="text-white">Name</small>
              <input
                class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                name="name"
                formControlName="name"
                type="text"
              />
            </label>
          </div>
          <div class="w-1/4 pr-1">
            <label>
              <small class="text-white">Quantity</small>
              <input
                class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                name="quantity"
                formControlName="quantity"
                type="number"
              />
            </label>
          </div>
          <div class="w-1/4 pr-1">
            <label>
              <small class="text-white">Unit of Measure</small>
              <input
                class="shadow appearance-none border rounded w-full text-gray-800 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                name="unit-of-measure"
                formControlName="unit-of-measure"
                type="text"
              />
            </label>
          </div>
          <div class="w-1/6 flex items-end justify-center">
            <egs-button (handleOnClick)="removeItem(i)" color="secondary" text="Remove" type="button"></egs-button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-end">
      <egs-button [disabled]="!dessertForm.valid" color="primary" text="Add Dessert" type="submit"></egs-button>
    </div>
  </form>
</div>
