<header>
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold" (click)="handleOnClickHome()">
      <p class="cursor-pointer">Interlogica Pastry</p>
    </div>
    <div class="flex w-full items-center content-center justify-between md:w-1/2 md:justify-end">
      <p class="text-white mr-2" *ngIf="isUserLogged$ | async">Bentornata {{ userName$ | async }}</p>
      <span class="mr-2">
        <egs-button (handleOnClick)="handleOnClickDashboard()" [text]="btnDashboard" color="primary" type="button"></egs-button>
      </span>
      <egs-button (handleOnClick)="handleLogOut()" [text]="btnLogOut" color="secondary" *ngIf="isUserLogged$ | async"></egs-button>
    </div>
  </div>
</header>
