<div class="w-full max-w-xl mx-auto flex flex-wrap">
  <h2 class="w-full font-bold text-center text-capitalize">{{ (dessert | async)?.name }}</h2>
  <div class="w-full mb-4">
    <egs-recipe-table [ingredients]="(dessert | async)?.recipe?.ingredients"></egs-recipe-table>
  </div>
  <div class="w-full flex justify-center">
    <egs-button (handleOnClick)="handleGoHome()" color="primary" text="Homepage" type="button"></egs-button>
  </div>
</div>
