<table class="table-auto mx-auto">
  <thead>
    <tr>
      <th class="px4 py-2">Name</th>
      <th class="px4 py-2">Quantity</th>
      <th class="px4 py-2">Unit of Measure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredient of ingredients; index as i" [ngClass]="{ 'bg-gray-500': i % 2 }" class="text-center">
      <td class="border px-4 py-2">{{ ingredient.name }}</td>
      <td class="border px-4 py-2">{{ ingredient.quantity }}</td>
      <td class="border px-4 py-2">{{ ingredient['unit-of-measure'] }}</td>
    </tr>
  </tbody>
</table>
