<div class="w-full p-4 flex items-center justify-center" *ngIf="isVisible">
  <svg class="loader border-8 border-t-8 border-gray-200 h-32 w-32 rounded-full animate-spin" viewBox="0 0 24 24"></svg>
</div>
