<table class="table-auto mx-auto" *ngIf="!isLoadingDesserts">
  <thead>
    <tr>
      <th class="px-4 py-2">Nome</th>
      <th class="px-4 py-2">Prezzo</th>
      <th class="px-4 py-2">Disponibili</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let dessert of desserts; index as i"
      [ngClass]="{ 'bg-gray-500 hover:bg-gray-600': i % 2, 'bg-red-700 hover:bg-red-800 text-white': getHowMuchIsOld(dessert.createdAt) >= 3 }"
      class="text-center cursor-pointer hover:bg-gray-500 transition durantion-500"
      (click)="showDessertDetails(dessert.id)"
    >
      <td class="border px-4 py-2">{{ dessert.name }}</td>
      <td class="border px-4 py-2">
        <span *ngIf="getHowMuchIsOld(dessert.createdAt) < 3">
          {{ dessert.price | price: dessert.createdAt | currency: dessert.currency }}
        </span>
        <span *ngIf="getHowMuchIsOld(dessert.createdAt) >= 3">
          To withdraw from sale
        </span>
      </td>
      <td class="border px-4 py-2">{{ dessert.quantity }}</td>
    </tr>
  </tbody>
</table>
